body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:700px;
}
#u0 {
  position:absolute;
  left:7px;
  top:8px;
  width:753px;
  height:700px;
}
#u1 {
  position:absolute;
  left:2px;
  top:342px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
